@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p|Passion+One&display=swap');

body {

    min-height: 1300px;
}


// font-family: 'Passion One', cursive;
// font-family: 'M PLUS 1p', sans-serif;

.hero_style {

    height: 50rem;
    width: 100vw;
    background-color: #111111;

    .nav_selection {
        display: flex;


        .nav_spot {

            justify-content: space-between;
            color: #bdff00;
            font-size: 2rem;
            font-family: 'M PLUS 1p', sans-serif;
        }
    }


}


// #bdff00 Hot green color 